@import url('./views/u-ni-bite-view.css');
@import url('./views/login-sd-view.css');
@import url('./views/registrazione-view.css');
@import url('./views/login-p-view.css');
@import url('./views/portaleordinazione-view.css');
@import url('./views/info-piatti-view.css');
@import url('./views/carrello-view.css');
@import url('./views/pagamento-view.css');
@import url('./views/scontrino-view.css');
@import url('./views/portalepersonale-view.css');
@import url('./views/aggiungiricetta-view.css');    html {
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
      --lumo-size-xl: 4rem;
      --lumo-size-l: 3rem;
      --lumo-size-m: 2.5rem;
      --lumo-size-s: 2rem;
      --lumo-size-xs: 1.75rem;
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;
      --lumo-shade-5pct: hsla(214, 67%, 33%, 0.05);
      --lumo-shade-10pct: hsla(214, 67%, 33%, 0.1);
      --lumo-shade-20pct: hsla(214, 67%, 33%, 0.2);
      --lumo-shade-30pct: hsla(214, 67%, 33%, 0.3);
      --lumo-shade-40pct: hsla(214, 67%, 33%, 0.4);
      --lumo-shade-50pct: hsla(214, 67%, 33%, 0.5);
      --lumo-shade-60pct: hsla(214, 67%, 33%, 0.6);
      --lumo-shade-70pct: hsla(214, 67%, 33%, 0.7);
      --lumo-shade-80pct: hsla(214, 67%, 33%, 0.8);
      --lumo-shade-90pct: hsla(214, 67%, 33%, 0.9);
      --lumo-primary-color-50pct: hsla(212, 51%, 31%, 0.5);
      --lumo-primary-color-10pct: hsla(212, 51%, 31%, 0.1);
      --lumo-error-color-50pct: hsla(3, 43%, 37%, 0.5);
      --lumo-error-color-10pct: hsla(3, 43%, 37%, 0.1);
      --lumo-success-color-50pct: hsla(159, 43%, 36%, 0.5);
      --lumo-success-color-10pct: hsla(159, 43%, 36%, 0.1);
      --lumo-shade: hsl(214, 67%, 33%);
      --lumo-primary-color: hsl(212, 51%, 31%);
      --lumo-primary-text-color: hsl(22, 100%, 42%);
      --lumo-error-color: hsl(3, 43%, 37%);
      --lumo-error-text-color: hsl(3, 90%, 53%);
      --lumo-success-color: hsl(159, 43%, 36%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);
      --lumo-base-color: #ffffff;

    }
